.hero {
  margin-top: 3.4rem;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.checkPoint {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.3rem;
  padding: 0.2rem 0.6rem;
  background-color: #2b2a2a;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.checkPoint > p {
  font-size: var(--size-xs);
  color: #ccc;
}

.checkPoint > svg {
  color: #caff33;
}

.heroLeft > h1 {
  width: 30ch;
  font-size: var(--size-5xl);
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.heroLeft > h1 > span {
  color: #caff33;
}

.heroLeft > p {
  color: #ccc;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.heroLeft > button > a {
  border-radius: 2rem;
  padding: 0.6rem 1.2rem;
  background-color: #caff33;
  color: #2b2a2a;
  font-size: var(--size-lg);
  font-weight: 500;
  transition: all 0.3s;
}

.heroLeft > button > a:hover {
  /* border: 1px solid #caff33; */
  box-shadow: inset 0 0 0 1.8px #caff33;
  background-color: transparent;
  color: #fff;
}

.navCTALink.active {
  color: #2b2a2a;
}
