.navSection {
  padding-top: 2rem;
  color: #fff;
}

.nav {
  padding: var(--size-xs) var(--size-2xl) !important;
  border-radius: 1.8rem;
  background-color: #2b2a2a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImg {
  height: 2.4rem;
  aspect-ratio: 1 / 1;
}

.bankLogoName {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}

.bankName {
  color: #ffffff;
  font-size: var(--size-xl);
}

.navCTA {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.navCTABtn {
  border-radius: 2rem;
}

.navCTALink {
  border-radius: 2rem;
  padding: 0.6rem 1.2rem;
  transition: all 0.3s;
}

.navCTALink:hover {
  /* border: 1px solid #caff33; */
  box-shadow: inset 0 0 0 1.8px #caff33;
}

.navCTALink.active {
  background-color: #caff33;
  color: #2b2a2a;
}
